@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Teko';
    src: url('./assets/fonts/teko-regular.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Teko';
    src: url('./assets/fonts/teko-bold.ttf') format('truetype');
    font-weight: 700;
  }

  body {
    @apply font-body bg-primary-dark;
    color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
